.dashboard-error-loader {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.dashboard-progress {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.dashboard-text {
  display: flex;
  justify-content: space-between;
}

.dashboard-text:hover {
  text-decoration: underline;
}
